@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --box: #1c1c1c;
}

:root {
  --background: #ffffff;
  --foreground: ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151514;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #161616;
}
